<!DOCTYPE html>
<html>
<% include ../partials/navbar %>
<% include ../partials/header %>
<body>
<div class="container">
    <h1>Create Bird</h1>
    <div class="container">
        
        <form method="POST" action="/birds/create">
          <input type="text" name="species" placeholder="insert species"/>
          <br>
          <input type="text" name="nickname" placeholder="insert nickname"/>
          
          <br>
          <input type="text" name="status" placeholder="insert status"/>
          
          <input type="submit" value="Create Bird"/>
        </form>
      </div>
</div>




</body>
</html>
